.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom:50px;
  }
  .custom-color{
    background-color:#23B7A7;
}

.line1 
{
  height:5px;
  width:160px;
  margin:auto;
  color:white;
  border-bottom: 2px solid white;

}